main .container{
    width: 100%;
    margin-top: 150px;
    background: #eee;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    '. . .'
    '. content .'
    '. . .'
    ;
}
main .container .content{
    width: 100%;
    grid-area: content;
}
main .container .content .servicio{
    width: 100%;
    padding: 20px 10px;
    display: grid;
    background: #fff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'imagen calendario calendario'
    'descripcion calendario calendario'
    ;
}
main .container .content .servicio .imagen{
    grid-area: imagen;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .container .content .servicio .imagen img{
    width: 200px;
    height: 200px;
    padding: 10px;
    background:  #eee;
}
main .container .content .servicio .descripcion{
    grid-area: descripcion;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main .container .content .servicio .descripcion .nombre{
    color: var(--azulOmedic);
    font-size: 1.6em;
}
main .container .content .servicio .descripcion .desc{
    color: var(--grisOmedic);
    font-size: .9em;
}
main .container .content .servicio .descripcion .duracion,
main .container .content .servicio .descripcion .categoria{
    font-weight: bold;
}
main .container .content .servicio .descripcion .precio{
    font-weight: bold;
    font-size: 2em;
}

/*=====calendario=======*/
main .container .content .calendario{
    grid-area: calendario;
    width: 100%;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .container .content .calendario .mensaje_disponibilidad{
    animation: parpadear 2s infinite linear;
}

@keyframes parpadear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
