main .container{
    width: 100%;
    margin-top: 150px;
    background: #eee;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    '. . .'
    '. content .'
    '. . .'
    ;
}
main .container .content{
    width: 100%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container .content .title{
    padding: 20px 0px;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}
main .container .content .texto{
    margin: 10px 0px;
    font-size: 1.2em;
    font-weight: bold;
}
main .container .content form{
    width: 500px;
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
}
main .container .content form .form_group{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
main .container .content form .form_group label{
    font-weight: bold;
}
main .container .content form .form_group input,
main .container .content form .form_group textarea{
    border-radius: 10px;
    background: #eee;
    outline: none;
    padding: 5px;
    font-family: 'Raleway';
    font-size: 1.2em;
    resize: none;
}
main .container .content form .form-group{
    display: flex;
    justify-content: center;
}
main .container .content form .form-group button{
    background: var(--azulOmedic);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}