*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --azulOmedic: #165E79;
    --rojoOmedic: #99002E;
    --grisOmedic: #464648;
    --amarilloOmedic: #D8A32D;
    --verdeOmedic: #249C7E;
    --grisClaro: #777;
    --verdeDoctoralia: rgba(83, 192, 90, 1);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
}

.container nav{
    z-index: 9999;
    background: rgba(255,255,255,.7);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1em 1fr 1em;
    grid-template-columns: 2em 1fr 3fr 1fr 1fr 2em;
    grid-template-areas: 
        '. . . . . .'
        '. logo menu tarjetas telefono .'
        '. . . . . .'
    ;
    box-shadow: 2px 0px 10px var(--grisOmedic);
}
/*===LOGO====*/
.container nav .logo{
    width: 100%;
    height: 100%;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*====MENU====*/
.container nav .menu{
    width: 100%;
    height: 100%;
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container nav .menu .wrap-menu{
    display: flex;
}
.container nav .menu .wrap-menu > .item{
    list-style: none;
    margin: 0px 10px;
    font-weight: bold;
    color: var(--grisOmedic);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
}
.container nav .menu .wrap-menu > li a{
    color: var(--grisOmedic);
    text-decoration: none;
}
.container nav .menu .wrap-menu > li a.active{
    color: var(--rojoOmedic);
}
.container nav .menu .wrap-menu > li a:hover{
    color: var(--rojoOmedic);
}
.container nav .menu .wrap-menu > li.item:not(.item-menu):hover{
    color: var(--rojoOmedic);
}
.container nav .menu .wrap-menu > .item .sub-menu .sub-item > a:hover{
    color: var(--rojoOmedic);
}
.container nav .menu .wrap-menu > .item > .sub-menu{
    display: none;
    position: absolute;
    top: 17px;
}
.container nav .menu .wrap-menu > .item > .sub-menu .sub-item{
    padding: 10px;
    width: 200px;
    background: #fff;
    list-style: none;
}
.container nav .menu .wrap-menu .item-menu:hover > .sub-menu{
    display: block;
    transition: 2s;
}
/*====PAGO DE TARJETAS===*/
.container nav .tarjetas{
    width: 100%;
    height: 100%;
    grid-area: tarjetas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container nav .tarjetas .imagenes{
    display: flex;
    justify-content: center;
}
.container nav .tarjetas .imagenes img{
    margin: 0px 10px;
}
.container nav .tarjetas p{
    margin: 10px 0px;
    text-align: center;
    color: var(--grisOmedic);
    font-size: .8em;
}

.container nav .telefono{
    width: 100%;
    height: 100%;
    grid-area: telefono;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container nav .telefono .texto{
    margin: 0px 10px;
    color: var(--azulOmedic);
    font-weight: bold;
    font-size: 1.1em;
}
.container nav .telefono .icono{
    color: #fff;
    background: var(--azulOmedic);
    padding:  9px 10px;
    border-radius: 100%;
}
.container nav .bar{
    display: none;
}

@media screen and (max-width: 1200px){
    .container nav{
        grid-template-rows: 1em 1fr 1em;
        grid-template-columns: 2em 1fr 3fr 1fr 2em;
        grid-template-areas: 
            '. . . . .'
            '. logo menu telefono .'
            '. . . . .'
        ;
        box-shadow: 2px 0px 10px var(--grisOmedic);
    }   
    .container nav .tarjetas{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .container nav{
        grid-template-rows: 1em 1fr 1em;
        grid-template-columns: 2em 1fr 3fr 2em;
        grid-template-areas: 
            '. . . . .'
            '. logo menu .'
            '. . . . .'
        ;
        box-shadow: 2px 0px 10px var(--grisOmedic);
    }   
    .container nav .telefono{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .container nav{
        grid-template-rows: 1em 1fr 1em;
        grid-template-columns: 2em 1fr 3fr 2em;
        grid-template-areas: 
            '. . . . '
            '. logo bar .'
            '. . . .'
        ;
    }   
    .container nav .bar{
        display: flex;
        grid-area: bar;
        justify-content: flex-end;
        align-items: center;
        font-size: 2em;
    }
    .container nav .menu{
        position: absolute;
        top: 0px;
        left: 0px;
        background: #fff;
        align-items: flex-start;
        justify-content: flex-start;
        width: 300px;
        height: 150vh;
        transition: .5s;
    }
    .container nav  .oculto{
        left: -300px;
        transition: .5s;
    }
    .container nav .menu .wrap-menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 0px;
    }
    .container nav .menu .wrap-menu > .item{
        margin: 0px;
        width: 100%;
        padding: 20px 10px;
        justify-content: flex-start;
    }
    .container nav .menu .wrap-menu > .item-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .container nav .menu .wrap-menu > .item > .sub-menu{
        display: block;
        position: relative;
    }
}