.container{
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto 100px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:  
    '. . .'
    '. blog .'
    '. . .'
    ;
}
.container .container_blog{
    grid-area: blog;
    width: 100%;
}
.container .container_blog .title{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.container .container_blog .title form{
    position: relative;
}
.container .container_blog .title form input{
    border: none;
    background: #eee;
    padding: 5px;
    width: 200px;
}
.container .container_blog .title form button{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    height: 100%;
    font-size: 1.2em;
    padding: 0px 5px;
    cursor: pointer;
    background: none;
    color: #aaa; 
}
/*=======LISTA DE BLOGS=======*/
.container .container_blog .list_blogs{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .container_blog .list_blogs .blog{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'nombre usuario comentario fecha'
    ;
    padding: 10px 0px;
}
.container .container_blog .list_blogs .blog:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.container .container_blog .list_blogs .blog .nombre_blog{
    width: 100%;
    grid-area: nombre;
}
.container .container_blog .list_blogs .blog .nombre_blog a{
    text-decoration: none;
    font-weight: bold;
    color: var(--azulOmedic);
    display: flex;
}
.container .container_blog .list_blogs .blog .nombre_blog a:visited{
    color: var(--azulOmedic);
}
.container .container_blog .list_blogs .blog .nombre_blog a > .fa-edit{
    display: none;
    margin: 0px 5px;
    transition: .3s;
}
.container .container_blog .list_blogs .blog .nombre_blog a:hover > .fa-edit{
    display: block;
}
.container .container_blog .list_blogs .blog .usuario{
    width: 100%;
    grid-area: usuario;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--azulOmedic);
}
.container .container_blog .list_blogs .blog .comentario_blog{
    width: 100%;
    grid-area: comentario;
    text-align: center;
}
.container .container_blog .list_blogs .blog .comentario_blog .coment_blog{
    color: #aaa;
    text-decoration: none;
}
.container .container_blog .list_blogs .blog .comentario_blog .coment_blog:visited{
    color: #aaa;
}
.container .container_blog .list_blogs .blog .comentario_blog:hover{
    color: var(--rojoOmedic);
    transition: .3s;
    cursor: pointer;
}
.container .container_blog .list_blogs .blog .fecha_blog{
    width: 100%;
    grid-area: fecha;
    text-align: center;
    font-size: .9em;
}


button.nueva_entrada{
    border: none;
    background: #DF2248;
    padding: 10px 15px;
    color: #fff;
    font-size: 1.5em;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
    font-weight: lighter;
    cursor: pointer;
    outline: none;
}
button.nueva_entrada:active{
    background: rgba(223, 34, 72,.8);
    transition: .3s;
}